<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="background mb-4">
  <br>
  <br>
  <br>
  <br>
  <br>
        <div class="row ">
                <div class="wrapper">
                    <div class="side-bar ">
                        <ul>
                            <li class="menu-head">
                             <h4><b><i class="active"> WELCOME </i></b></h4>  <a routerLink="#" class="push_menu"></a>
                            </li>

                            <div  class="menu">
                                 
                                <div class="">
                                    <li class="nav-item dropdown bg-dark">
                                        <a class="nav-link dropdown" routerLink="/getaccount" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <b>View Account </b>
                                        </a>
                                        <!-- <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                                          <a class="dropdown-item " routerLink="addcustomer"><b style="color:black">Add Customer</b></a>
                                          <a class="dropdown-item " routerLink="customer"><b style="color:black">View And Update Customer</b></a>
                                          
                                        </div> -->
                                      </li>
                                </div>
                                <div class="">
                                    <li class="nav-item dropdown ">
                                        <a class="nav-link dropdown" routerLink="/getaccount" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <b>Update/Delete Account</b>
                                        </a>
                                        <!-- <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                                          <a class="dropdown-item1 " routerLink="addcontract"><b style="color:black">Add Contract</b></a>
                                          <a class="dropdown-item2 " routerLink="contract"><b style="color:black">View And Update Contract</b></a>
                
                                        </div> -->
                                      </li>
                                </div>
                                
                                <div class="">
                                    <li class="nav-item dropdown ">
                                        <a class="nav-link dropdown" routerLink="/addaccount" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <b>Add Account</b>
                                        </a>
                                        <!-- <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                                          <a class="dropdown-item " routerLink="addproduct"><b style="color:black">Add Product</b></a>
                                          <a class="dropdown-item " routerLink="product"><b style="color:black">View And Update Product</b></a>
                
                                        </div> -->
                                      </li>
                                </div>

                                <!-- <div class="">
                                    <li class="nav-item dropdown ">
                                        <a class="nav-link dropdown" routerLink="/admin" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <b>Haulier</b>
                                        </a>
                                        <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                                          <a class="dropdown-item " routerLink="addhaulier"><b style="color:black">Add Haulier</b></a>
                                          <a class="dropdown-item " routerLink="haulier"><b style="color:black">View And Update Haulier</b></a>
                
                                        </div>
                                      </li>
                                </div> -->

<!--                                 
                                <div style="color:white">
                                  <li class="nav-item dropdown ">
                                    <a  routerLink="/admin/addaccount"><b style="color:white">Add Account</b></a>
                                     
                                    </li>
                              </div> -->
                                
                                        
                                
                              
                              <!-- <li>
                                <a routerLink="/">  <b>Logout </b></a>
                            </li> -->
        
                            </div>
                            
                        </ul>
                        
                    </div>   
                    <!---->
                </div>
            </div>
            
</div>


                
           
 

