 <!-- Google Font -->
 <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

 <!-- Css Styles -->
 <link rel="stylesheet" href="assets\ponigym\css\bootstrap.min.css" type="text/css">
 <link rel="stylesheet" href="assets\ponigym\css\owl.carousel.min.css" type="text/css">
 <link rel="stylesheet" href="assets\ponigym\css\magnific-popup.css" type="text/css">
 <link rel="stylesheet" href="assets\ponigym\css\slicknav.min.css" type="text/css">
 <link rel="stylesheet" href="assets\ponigym\css\style.css" type="text/css">

        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <!-- <ol class="carousel-indicators">
              <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
              
            </ol>
             -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://www.usnews.com/dims4/USNEWS/3a0faa8/2147483647/thumbnail/640x420/quality/85/?url=http%3A%2F%2Fmedia.beam.usnews.com%2Fd2%2F3a%2F5c817ff1453387b7dabff707e8ed%2F140409-creditcard-stock.jpg" class="d-block w-100 h-5" alt="..." width="800px" height="680px">
                <div class="carousel-caption d-none d-md-block">
                  <h2 class="one" style="float:right; color:floralwhite; font-size: 60px">
                   
                    <b style="float:right"> The Journey Towards Your Dream Home... </b> </h2>
              
                <h4 class="one" style="color:floralwhite"> Flying to your new place every day seems like an exciting way to live. But birds need a place to come to a nest of their own... </h4>
              
                 
                </div>
              </div>
              <!-- <div class="carousel-item">
                <img src="assets\img2.jpg" class="d-block w-100" alt="..."  width="800px" height="450px">
                <div class="carousel-caption d-none d-md-block">
                  <h1 style="float:right"><i> The Journey Towards Your Dream Home... </i></h1>
              
                <h4> Flying to your new place every day seems like an exciting way to live. But birds need a place to come to a nest of their own... <a href="#" class="btn btn-primary float-right">Read More...</a></h4>
           
                </div>
              </div>
              <div class="carousel-item">
                <img src="assets\img1.jpeg" class="d-block w-100" alt="Image frest" width="800px" height="450px">
                <div class="carousel-caption d-none d-md-block">
                  <h1 style="float:right"><i> The Journey Towards Your Dream Home... </i></h1>
              
                <h4> Flying to your new place every day seems like an exciting way to live. But birds need a place to come to a nest of their own... <a href="#" class="btn btn-primary float-right">Read More...</a></h4>
           
                </div>
              </div> -->
            </div>
            
          </div>
          <!-- Class Section Begin-->
    <section class="class-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="section-title">
                                <h2>Our Loan Plans </h2>
                                <p>People generally take a home loan for either buying a house/flat or a plot of land for construction of a house, or renovation, extension and repairs to the existing house.
                                        The property is mortgaged to the lender as a security till the repayment of the loan. </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <a routerLink="/aboutloan" class="primary-btn">View All Loan PLans</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="class-item">
                                <div class="tab-content">
                                    <div class="tab-pane fade-in active" id="class-1" role="tabpanel">
                                        <div class="single-class-item">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <img src="
                                                    https://www.allbusiness.com/asset/2019/09/business-loan.jpg" alt="" >
                                                </div>
                                                <div class="col-lg-5 offset-lg-1">
                                                    <div class="class-text">
                                                        <h3>Home Loans</h3>
                                                        <p>A home loan is an amount of money that an individual borrows from a bank or money lending company at a certain rate of interest to be paid with the EMI every month. The property is taken as a security by the money lending company for the Home Loan.When the borrower cannot pay the dues, the lender will possess all the legal rights to recover the outstanding loan amount by sale of the property in question.</p>
                                    
                                                                <a href="/addCustomer" class="primary-btn">Click Here To Apply </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="class-2" role="tabpanel">
                                        <div class="single-class-item">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <img src="assets\ponigym\img\class\class-1.jpg" alt="">
                                                </div>
                                                <div class="col-lg-5 offset-lg-1">
                                                    <div class="class-text">
                                                        <h3>Racing runing</h3>
                                                        <p>Body Building, the original LES MILLS barbell class, will
                                                            sculpt, tone and strengthen your entire body, fast! Focusing
                                                            on low weight loads and high repetition movements, you'll
                                                            burn fat, gain strength and quickly produce lean body muscle
                                                            conditioning. All the benefits of working with weighs in one
                                                            action packed, highly physical class. The world’s fastest
                                                            way to get in shape. Find your Lessmills Bodypump class
                                                            here.</p>
                                                        <a href="#" class="schedule-btn">View Schedule <i
                                                                class="fa fa-long-arrow-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="class-3" role="tabpanel">
                                        <div class="single-class-item">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <img src="assets\ponigym\img\class\class-1.jpg" alt="">
                                                </div>
                                                <div class="col-lg-5 offset-lg-1">
                                                    <div class="class-text">
                                                        <h3>Yoga Fitness</h3>
                                                        <p>Body Building, the original LES MILLS barbell class, will
                                                            sculpt, tone and strengthen your entire body, fast! Focusing
                                                            on low weight loads and high repetition movements, you'll
                                                            burn fat, gain strength and quickly produce lean body muscle
                                                            conditioning. All the benefits of working with weighs in one
                                                            action packed, highly physical class. The world’s fastest
                                                            way to get in shape. Find your Lessmills Bodypump class
                                                            here.</p>
                                                        <a href="#" class="schedule-btn">View Schedule <i
                                                                class="fa fa-long-arrow-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="class-4" role="tabpanel">
                                        <div class="single-class-item">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <img src="assets\ponigym\img\class\class-1.jpg" alt="">
                                                </div>
                                                <div class="col-lg-5 offset-lg-1">
                                                    <div class="class-text">
                                                        <h3>Kick boxing</h3>
                                                        <p>Body Building, the original LES MILLS barbell class, will
                                                            sculpt, tone and strengthen your entire body, fast! Focusing
                                                            on low weight loads and high repetition movements, you'll
                                                            burn fat, gain strength and quickly produce lean body muscle
                                                            conditioning. All the benefits of working with weighs in one
                                                            action packed, highly physical class. The world’s fastest
                                                            way to get in shape. Find your Lessmills Bodypump class
                                                            here.</p>
                                                            <button type="submit">View Schedule <i ></i></button>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="class-5" role="tabpanel">
                                        <div class="single-class-item">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <img src="assets\ponigym\img\class\class-1.jpg" alt="">
                                                </div>
                                                <div class="col-lg-5 offset-lg-1">
                                                    <div class="class-text">
                                                        <h3>Cardio workout</h3>
                                                        <p>Body Building, the original LES MILLS barbell class, will
                                                            sculpt, tone and strengthen your entire body, fast! Focusing
                                                            on low weight loads and high repetition movements, you'll
                                                            burn fat, gain strength and quickly produce lean body muscle
                                                            conditioning. All the benefits of working with weighs in one
                                                            action packed, highly physical class. The world’s fastest
                                                            way to get in shape. Find your Lessmills Bodypump class
                                                            here.</p>
                                                        <a href="#" class="schedule-btn">View Schedule <i
                                                                class="fa fa-long-arrow-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="class-6" role="tabpanel">
                                        <div class="single-class-item">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <img src="assets\ponigym\img\class\class-1.jpg" alt="">
                                                </div>
                                                <div class="col-lg-5 offset-lg-1">
                                                    <div class="class-text">
                                                        <h3>Martial Arts</h3>
                                                        <p>Body Building, the original LES MILLS barbell class, will
                                                            sculpt, tone and strengthen your entire body, fast! Focusing
                                                            on low weight loads and high repetition movements, you'll
                                                            burn fat, gain strength and quickly produce lean body muscle
                                                            conditioning. All the benefits of working with weighs in one
                                                            action packed, highly physical class. The world’s fastest
                                                            way to get in shape. Find your Lessmills Bodypump class
                                                            here.</p>
                                                        <a href="#" class="schedule-btn">View Schedule <i
                                                                class="fa fa-long-arrow-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Class Section End -->
    <script src="assets\ponigym\js\jquery-3.3.1.min.js"></script>
    <script src="assets\ponigym\js\bootstrap.min.js"></script>
    <script src="assets\ponigym\js\jquery.magnific-popup.min.js"></script>
    <script src="assets\ponigym\js\mixitup.min.js"></script>
    <script src="assets\ponigym\js\jquery.slicknav.js"></script>
    <script src="assets\ponigym\js\owl.carousel.min.js"></script>
    <script src="assets\ponigym\js\main.js"></script>
