<div class="col-md-4 offset-md-4">
    <form >
        <div class="form-group">
            <label for="uname">Username</label>
            <input type="text" name="uname" id="uname" minlength="8" required #uname='ngModel' ngModel class="form-control">
            <div *ngIf='uname.touched && uname.invalid'>
                <div class="alert alert-danger" *ngIf='uname.errors.required'>
                    This field cannot be empty
                </div>
                <div class="alert alert-danger" *ngIf='uname.errors.minlength'>
                    Minlength of 8 required
                </div>
            </div>


        </div>
        <div class="form-group">
            <label for="password">
                Password
            </label>
            <input type="password" name="password" id="password" #password='ngModel' ngModel class="form-control" 
            required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})">
            <div *ngIf='password.touched && password.invalid'>
                <div class="alert alert-danger" *ngIf='password.errors.required'>
                    This field cannot be empty
                </div>
                <div class="alert alert-danger" *ngIf='password.errors.pattern'>
                    8 or more charaters, should include one uppercase, one lower case and one number, atleast one numeric and one special character
                </div>
            </div>

        </div>
        <button type="submit"
         class="btn btn-primary float-right" 
         [disabled]='loginForm.invalid'>Login In</button>

    </form>

</div>