<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="#">MPT1</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item mr-auto">
        <a class="nav-link" routerLink="/home"><h5>Home</h5></a>
        </li>
        <li class="nav-item">
                <a class="nav-link" routerLink="/customer"><h5>Customers</h5></a>
        </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/products"><h5>Products</h5></a>
</li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/"></a>
        </li>
      </ul>
      
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/login"><h5>Login</h5></a>
        </li>
      </ul>


    </div>
  </nav>
